<div class="back">
  <a routerLink="/" routerLinkActive="active">Zurück</a><br />
</div>

<h2><b>Datenschutzerklärung</b></h2>
<p>
  Sie haben sich entschieden, unser Testzentrum für eine Testung auf das
  Coronavirus zu nutzen. Im HEALTHY-Testzentrum werden Ihre personenbezogenen
  Daten stets vertraulich und mit der angemessenen Sorgfaltspflicht behandelt
  sowie gemäß geltender Datenschutzgesetze verarbeitet. Im Folgenden informieren
  wir Sie gem. Art. 13 DSGVO über den Umgang mit Ihren personenbezogenen Daten
  im Zuge der Testung.
</p>
<p>
  Wir kontrollieren regelmäßig die internen Prozesse sowie die technischen und
  organisatorischen Maßnahmen, um zu gewährleisten, dass die Verarbeitung in
  seinem Verantwortungsbereich im Einklang mit den Anforderungen des geltenden
  Datenschutzrechts erfolgt und der Schutz der Rechte der betroffenen Person
  gewährleistet wird.
</p>
<h3><b>Verantwortlicher Betreiber und Datenschutzbeauftragter:</b></h3>
<p>
  HEALTHY-Teststation<br />Sammy Staudt<br />Hartkirchweg 61<br />79111 Freiburg
</p>
<p>Telefon: 0 178 / 7 53 87 37<br />E-Mail: info@testzentrumhealthy.de</p>

<h3><b>Genutzte Datenkategorien und Quelle der Daten</b></h3>
<p>
  Im Rahmen des bei Ihnen durchgeführten PoC-Tests auf SARS-CoV-2 erheben wir,
  das zuständige Testzentrum als Verantwortlicher personenbezogene Daten von
  Ihnen. Wir verarbeiten Ihren:
</p>
<ul>
  <li>Namen,</li>
  <li>Ihr Geschlecht</li>
  <li>Ihre Anschrift oder Ihren gewöhnlichen Aufenthaltsort,</li>
  <li>Geburtsdatum,</li>
  <li>Telefonnummer,</li>
  <li>E-Mail-Adresse,</li>
  <li>den Tag der Testung,</li>
  <li>die angewendete Nachweismethode,</li>
  <li>den Untersuchungsbefund</li>
</ul>
<p>
  um im Falle eines positiven Testergebnisses das zuständige Gesundheitsamt
  darüber zu informieren und diesem Ihre persönlichen Daten nach § 8 Abs. 1 Nr.
  5 IfSG weiterzugeben. Um die unverzügliche Kontaktaufnahme des
  Gesundheitsamtes mit Ihnen zu gewährleisten, erheben wir die Rufnummer und
  E-Mail-Adresse nach Art. 6 Abs. 1 lit. c DSGVO i.V.m. § 9 Abs. 1 IfSG.
</p>

<h3><b>Zwecke und Rechtsgrundlagen der Verarbeitung</b></h3>
<p>
  Wir verarbeiten Ihre personenbezogenen Daten zur von Ihnen beauftragten
  Durchführung der Testung auf das Coronavirus sowie zur Einhaltung gesetzlicher
  Meldepflichten gegenüber Behörden, die sich aus dem Infektionsschutzgesetz
  ergeben. Rechtsgrundlagen für die Verarbeitung Ihrer personenbezogenen Daten
  sind daher die Erfüllung unserer vertraglichen Verpflichtungen gem. Art. 6
  Abs. 1 lit. b DSGVO sowie für die Verarbeitung von Gesundheitsdaten
  (Zustellung Ihres Testergebnisses per Mail) Ihre Einwilligung gem. Art. 6 Abs.
  1 lit. a DSGVO in Verbindung mit Art. 9 Abs. 2 lit. a DSGVO. Zur Wahrung
  unserer gesetzlichen Meldepflichten bei positiven Testungen, z.B. gegenüber
  dem Gesundheitsamt, verarbeiten wir Ihre personenbezogenen Daten gem. Art. 6
  Abs. 1 lit. c DSGVO in Verbindung mit Art. 9 Abs. 2 lit. i DSGVO sowie § 6
  Abs. 1 Nr. 1 lit. t IfSG und geben Ihre Daten an das zuständige Gesundheitsamt
  weiter.
</p>

<h3>
  <b>Empfänger oder Kategorien von Empfängern der personenbezogenen Daten</b>
</h3>
<p>
  Innerhalb unserer Organisation werden Ihre personenbezogenen Daten nur von
  Abteilungen und Personen verarbeitet, die für die Erfüllung unserer
  vertraglichen Pflichten erforderlich sind. Sofern wir für bestimmte
  Verarbeitungen von personenbezogenen Daten Dienstleister beauftragt haben
  (z.B. Terminbuchung, Versendung der Testergebnisse, Buchhaltung,
  Aktenvernichtung), haben wir mit diesen einen Auftragsverarbeitungsvertrag
  gem. Art. 28 DSGVO geschlossen.
</p>

<h3>
  <b>Übermittlung von personenbezogenen Daten an ein Drittland</b>
</h3>
<p>Es erfolgt keine Übermittlung von Daten an ein Drittland.</p>

<h3>
  <b>Dauer der Speicherung der personenbezogenen Daten</b>
</h3>
<p>
  Wir löschen Ihre personenbezogenen Daten, sobald diese für die oben genannten
  Zwecke nicht mehr erforderlich sind. Das Testergebnis wird – vorbehaltlich der
  nachstehenden Ausführungen - im Falle eines negativen Befundes nach sieben
  Tagen und im Falle eines positiven Befundes nach vier Wochen jeweils nach
  Ergebnismitteilung gelöscht. Nach Erfüllung des Vertrages über die Testung
  werden Ihre übrigen personenbezogenen Daten gespeichert, solange wir dazu
  gesetzlich verpflichtet sind. Dies ergibt sich regelmäßig durch rechtliche
  Nachweis- und Aufbewahrungspflichten, die unter anderem im Handelsgesetzbuch
  und der Abgabenordnung geregelt sind. Die Speicherfristen betragen danach bis
  zu zehn Jahre. Außerdem kann es vorkommen, dass personenbezogene Daten für die
  Zeit aufbewahrt werden, in der Ansprüche gegen uns geltend gemacht werden
  können (gesetzliche Verjährungsfrist von drei oder bis zu dreißig Jahren).
</p>

<h3>
  <b>Betroffenenrechte</b>
</h3>
<p>
  Nach der Datenschutz-Grundverordnung stehen Ihnen folgende Rechte zu: Werden
  Ihre personenbezogenen Daten verarbeitet, so haben Sie das Recht, Auskunft
  über die zu Ihrer Person gespeicherten Daten zu erhalten (Art. 15 DSGVO).
  Gleiches gilt für die Daten anderer betroffener Personen. Sollten unrichtige
  personenbezogene Daten verarbeitet werden, steht Ihnen und den betroffenen
  Personen ein Recht auf Berichtigung zu (Art. 16 DSGVO). Liegen die
  gesetzlichen Voraussetzungen vor, so können Sie sowie andere Betroffene die
  Löschung oder Einschränkung der Verarbeitung verlangen sowie Widerspruch gegen
  die Verarbeitung einlegen (Art. 17, 18 und 21 DSGVO). Wenn Sie in die
  Datenverarbeitung eingewilligt haben oder ein Vertrag zur Datenverarbeitung
  besteht und die Datenverarbeitung mithilfe automatisierter Verfahren
  durchgeführt wird, steht Ihnen gegebenenfalls ein Recht auf
  Datenübertragbarkeit zu (Art. 20 DSGVO). Sollten Sie von Ihren oben genannten
  Rechten Gebrauch machen, prüft unser Unternehmen, ob die gesetzlichen
  Voraussetzungen hierfür erfüllt sind.
</p>

<h3>
  <b>Pflicht zur Bereitstellung der Daten</b>
</h3>
<p>
  Die Bereitstellung Ihrer personenbezogenen Daten erfolgt grundsätzlich
  freiwillig, allerdings können wir ohne die zur Vertragsdurchführung
  erforderlichen Daten keinen Vertrag mit Ihnen abschließen und keine Testung
  durchführen.
</p>

<h3>
  <b>Widerrufsmöglichkeit bei Einwilligung</b>
</h3>
<p>
  Eine erteilte datenschutzrechtliche Einwilligung können Sie jederzeit für die
  Zukunft widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum
  Widerruf erfolgten Datenverarbeitung wird durch diesen nicht berührt. Im Falle
  eines Widerrufs ist eine Durchführung der Testung ggfs. nicht möglich.
</p>
