:host {
    padding: 10px 10px 10px 10px;
    width: 100vw;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.back {
    margin: 10px
}