.toolbar {
    padding: 8px;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #01c8ff;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

h1 {
    margin: 0;
}

.toolbar img {
    margin: 0 16px;
}

.footer {
    padding: 10px;
}