<h3>Herzlich Willkommen in der Teststation Extrablatt! Über das Formular können Sie sich einfach und unkompliziert für eine Testung anmelden. Bitte geben Sie Ihre Daten ein:</h3>

<form>
  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Nachname</mat-label>
    <input matInput required name="nachname" [(ngModel)]="kunde.nachname"/>
  </mat-form-field>

  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Vorname</mat-label>
    <input matInput required name="vorname" [(ngModel)]="kunde.vorname"/>
  </mat-form-field>

  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Straße</mat-label>
    <input matInput required name="strasse" [(ngModel)]="kunde.strasse"/>
  </mat-form-field>
  
  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Postleitzahl</mat-label>
    <input matInput required name="plz" [(ngModel)]="kunde.plz"/>
  </mat-form-field>
  
  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Wohnort</mat-label>
    <input matInput required name="ort" [(ngModel)]="kunde.ort"/>
  </mat-form-field>
  
  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Geburtsdatum</mat-label>
    <input matInput required name="geburtsdatum" [(ngModel)]="kunde.geburtsdatum" placeholder="Format: TT.MM.JJJ"/>
  </mat-form-field>
  
  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>E-Mail</mat-label>
    <input matInput required name="email" [(ngModel)]="kunde.email"/>
  </mat-form-field>

  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Telefon</mat-label>
    <input matInput required name="telefon" [(ngModel)]="kunde.telefon"/>
  </mat-form-field>
</form>

<div>
  <mat-checkbox class="checkbox" required [(ngModel)]="checkboxChecked">
    Ich bin mit den <a routerLink="/datenschutz" routerLinkActive="active">Datenschutzbedingungen</a> einverstanden.
  </mat-checkbox>
</div>

<div *ngIf="showError">
  <p class="error">Bitte füllen Sie alle Felder aus und akzeptieren Sie die Datenschutzbedingungen.</p>
</div>

<button class="btn" mat-raised-button [disabled]="loadingButton" (click)="onClick()">{{ sendbuttontext }}</button>

<div *ngIf="showQRCode && featureToggleQRCode">
  <qrcode [qrdata]="qrdata" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  <p>Zeigen Sie Ihren persönlichen QR-Code bei der Anmeldung. Diesen QR-Code können Sie bei der nächsten Testung wiederverwenden.</p>
</div>

<div class="divider">
  <mat-divider></mat-divider>
</div>

<div>
  <b>Adresse</b><br>
  Schreiberstraße 1<br>
  79098 Freiburg<br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d286.81665759317684!2d7.846759914589743!3d47.99041656631871!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2a881fac5ee477de!2sCafe%20Extrablatt%20Freiburg!5e0!3m2!1sde!2sde!4v1646047511319!5m2!1sde!2sde" style="border:0;" allowfullscreen="" loading="lazy"></iframe><br>
  <b>Öffnungszeiten</b><br>
  Mo bis Sa von 10 bis 20 Uhr<br>
  So von 10 bis 18 Uhr<br>
</div>

<div class="divider">
  <mat-divider></mat-divider>
</div>

<div>
  <h2><b>Gut zu wissen</b></h2>
  <h3><b>Schnelltestfunktion</b></h3>
  <p>
    Der Corona-Antigen-Schnelltest weist aus einer Abstrichprobe die im Rachen
    oder Nase gesammelt wird, bestimmte Proteine des Erregers Sars-CoV-2 bei der
    Testperson nach.
  </p>
  <h3><b>Schnelltestsicherheit</b></h3>
  <p>
    Unser Corona-Antigen-Schnelltest ist vom Bundesinstitut für Arzneimittel und
    Medizinprodukte (BfArM) zugelassen. Dieser verfügt über eine 97,7-%ige
    Sensitivität und eine 99,8-%ige Spezifität. Der Test erfüllt damit die
    gesetzlichen Anforderungen und kann SARS-CoV-2 mit einer sehr hohen
    Wahrscheinlichkeit nachweisen bzw. ausschließen. Eine zurückliegende
    Coronavirus-Infektion kann mit einem Corona-Antigen-Schnelltest leider nicht
    nachgewiesen werden.
  </p>
  <h3><b>Abstrichnahme</b></h3>
  <p>
    Es wird ein nasopharyngealer (Nase) Abstrich gemacht. Unser Personal wurde
    für diese Abstrichentnahme-Techniken geschult.
  </p>
  <h3><b>Testlänge</b></h3>
  <p>
    Der eigentliche Corona-Antigen-Schnelltest dauert nur ca. 3 Minuten und
    liefert bereits nach 15 bis 30 Minuten ein Ergebnis. Es wird dafür kein
    Labor zur Auswertung benötigt.
  </p>
  <h3><b>Schnelltestergebnisse</b></h3>
  <p>
    Der SARS-CoV-2 Antigen-Schnelltest ist kein PCR-Test auf den Coronavirus,
    wie er bei internationalen Reisen benötigt wird. In einigen Bundesländern
    wird ein negativer Antigentest als Reiseattest allerdings anerkannt. Bitte
    prüfen Sie selber aber regelmäßig die sich laufend ändernden Bedingungen und
    Auflagen.<br />
    Weitere Informationen finden Sie auf der Homepage des
    <a href="https://www.rki.de/DE/Home/homepage_node.html">Robert-Koch-Instituts</a>.
  </p>
</div>