<h3>Herzlich Willkommen im Testzentrum! Über das Formular können Sie sich einfach und unkompliziert für eine Testung anmelden. Bitte geben Sie Ihre Daten ein:</h3>

<form>
  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Nachname</mat-label>
    <input matInput required name="nachname" [(ngModel)]="kunde.nachname"/>
  </mat-form-field>

  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Vorname</mat-label>
    <input matInput required name="vorname" [(ngModel)]="kunde.vorname"/>
  </mat-form-field>

  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Straße</mat-label>
    <input matInput required name="strasse" [(ngModel)]="kunde.strasse"/>
  </mat-form-field>
  
  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Postleitzahl</mat-label>
    <input matInput required name="plz" [(ngModel)]="kunde.plz"/>
  </mat-form-field>
  
  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Wohnort</mat-label>
    <input matInput required name="ort" [(ngModel)]="kunde.ort"/>
  </mat-form-field>
  
  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Geburtsdatum</mat-label>
    <input matInput required name="geburtsdatum" [(ngModel)]="kunde.geburtsdatum" placeholder="Format: TT.MM.JJJ"/>
  </mat-form-field>
  
  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>E-Mail</mat-label>
    <input matInput required name="email" [(ngModel)]="kunde.email"/>
  </mat-form-field>

  <mat-form-field class="input-full-width" appearance="fill" hideRequiredMarker>
    <mat-label>Telefon</mat-label>
    <input matInput required name="telefon" [(ngModel)]="kunde.telefon"/>
  </mat-form-field>
</form>

<div *ngIf="showError">
  <p class="error">Bitte füllen Sie alle Felder aus.</p>
</div>

<button class="btn" mat-raised-button (click)="onClick()">Abschicken</button>
