.input-full-width {
  width: 100%;
}

p.error {
  color: red;
}

.btn {
  background-color: #01c8ff;
  cursor: pointer;
}

.checkbox {
  margin: 0px 12px 12px 12px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  margin-top: 20px;
}